<h3>Hello, <%= @owned_certification.owned.name %>&nbsp;<%= @owned_certification.owned.last_name %>,</h3>

<p>Welcome to LSSSP.</p>

<table border='0'>
 <tr>
   <td>You are requested for the Re-Assign of the following Certification</td>
 </tr>
  <tr>
    <td><b><%= @owned_certification.certification.name %></b></td>
  </tr>
</table>


<p>Please re-register of the Certificate to take the Examination Again</p>

<p align="justify">
  Lean Six Sigma Society of Australasia (LSSSA) is the Asia-Pacific chapter for the global Lean Six Sigma Society of
  Professionals (LSSSP). In the event you may ever need support, please contact us on support@lsssp.org or your course
  provider.
</p>

<p>
  Wishing you all the very best !!
</p>
