<div class="recent_items">
	<div class="margin">
		<h3>Recently Created Users</h3>
        <% if @recent.blank? %>
          No Users Added Yet...
        <% else %>
         <% for user in @recent %>
		<div id="margin">
			<div class="left">&nbsp;</div>
			<div class="right">&nbsp;</div>
			<div class="left-to-right">
				<div class="pen">&nbsp;</div>
				<div class="text">
                     <%=link_to user.name ,edit_super_admin_user_path(:user),:class=>'usuallink'%>
					<div style="margin: 8px 0px;">&nbsp;</div>
				</div>
				<div class="date">
                    <b><%=user.created_at.strftime("%m.%d.%Y") %></b>
                </div>
			</div>
		</div>
         <% end %>
       <% end %>
		<div class="see_all">
			<a href="/super_admin/users">
			 View all Topics
			<img hspace="2" border="0" alt="" src="/images/blue^.gif">
			</a>
		</div>
	</div>
</div>