<table class="tablesorter">
  <thead>
  <tr>
    <th>Enrollment #</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Primary</th>
    <th>Group</th>
    <th>Created On</th>
    <!--<th>Login Count</th>-->
    <th>Status</th>
    <th>Approved?</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <%=render @users %>
  </tbody>
</table>
<div class="lsssp_pagination">
  <%= page_entries_info @users %>  <%= will_paginate @users, :container => false %>
</div>