<% title "LSSSP | Edit Question" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Catalog >> Questions ',"Edit Question") %>
<% end %>

<%= render 'form' %>

<div class="link_buttons">
  <%= link_to_show([:catalog, @question]) %>
  <%=link_to_all(catalog_questions_path)%>
</div>
