<% title "LSSSP : Employee Verification" %>
<% content_for :sub_heading do %>
    <%= sub_heading('LSSSP', 'Employee Verification') %>
<% end %>
<% if @users.blank? %>
          <div class="error_msg">
            No Student is Found..!
          </div>
<% else %>

<% end %>
