div#exam_content {
    margin: 10px auto;
    max-width: 88%;
    /*  margin:20px;  apply this for full width and comment above 2 lines*/
    /* background-color:#000	; */
    text-align:left;
    overflow:hidden;
    min-height: 400px;

}

div#exam_content h2 {
    font-size:1.2em;
    color:#0052BE;
}
#exam_content h3 {
    margin: 15px 0 7px;
    font-size: 20px;
    color: #0052BE;
}

#pagination_container {
    position:relative;
    /*  margin:0 20px; */
    z-index:20;
    text-align:center;
    background-color: #FFFFFF;
    border-bottom: 2px solid #0052BE;
    padding-bottom: 10px;
    /*  overflow:hidden;*/
}
ul#questions_pagination {
    width:95%;
    overflow:hidden;
}
.pagination {
    text-align:center;
}
#questions_pagination li {
    display:block;
    float:left;
    width:1.8em;
    margin:2px;
    text-align:center;
    border:1px solid #999;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;

}
#questions_pagination li a {
    display:block;
    width:1.8em;
    height:1.8em;
    line-height:1.8em;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}
#questions_pagination li a:hover {
    color:#000;
    background:#ff9000;
}
#questions_pagination li.current {
    display:block;
    float:left;
    color:#fff;
    width:1.8em;
    height:1.8em;
    line-height:1.8em;
    border: 3px solid #7F7F7F;
    /*  background:#ff9000; */
}
.loaded a, .viewed a, .completed a {
    text-decoration: none
}
.loaded, .loaded a {
    color:#7f7f7f;
}
#questions_pagination li.loaded{
    border-color: #7f7f7f;
}
.viewed, .viewed a {
    color:#ff9000;
}
#questions_pagination li.viewed{
    border-color: #7f7f7f;
}
.completed, .completed a {
    color:#ff9000;
}
#questions_pagination li.completed{
    border-color: #ff9000;
}

#finish_button a {
    margin: 0 auto;
    width: 7em;
}

#save_button a {
    margin: 0 auto;
    width: 10em;
}


div#question {
    position:relative;
    margin: 12px 0 0 0;
    text-align:justify;
    background:#fff;
    /* border-top:1px solid #111111; */
    clear:left;
}
div#question h2,
div#content h2 {
    margin:10px 0 10px 0;
}

div#question h3 {
    margin:10px 0 0 0;
}
div#question div.pagination .previous_page,
div#question div.pagination .next_page {
    position:absolute;

}
div#question div.pagination .next_page {
    right:20px;

}
div#question div.pagination .previous_page {
    left:20px;
}
div#question div.pagination a.previous_page,
div#question div.pagination a.next_page {
    text-decoration:none;

    /*  background:#000;*/
}

.rbutton {
    display:block;
    color:#ff9000;
    text-align:center;
    border: 1px solid #ff9000;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}
.rbutton:hover {
    text-decoration:none;
    color:#fff;
    background:#ff9000 !important;
    border: 1px solid #fff;
    cursor:pointer;
}
div.rbox {
    margin: 5px 0;
    padding:10px 20px;
    text-align:justify;
    /*color: #e5e5e5; */
    background:#fff;
    border:1px solid #C6C7CC;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    overflow:auto;
}
div.rbox p {
    margin-top:5px;
}
div.rbox em {
    color:#ffa500;
}
ol.questions_summary {
    display:block;
    width:98%;
    margin:3px auto;
    overflow:hidden;
}
ol.questions_summary li {

    display:block;
    float:left;
    margin: 0 1px;
    width: 6em;
}

ol.questions_summary li span.correct {
    color:green;
}
ol.questions_summary li span.incorrect {
    color:red;
}
ol.questions_summary li span.incorrect {
    color: red;
}
ol.questions_summary li span.correct {
    color: green;
}
ol.questions_summary li a {
    display:block;
    float:left;
    width:7.5em;
    margin:5px;
}

div.question_body{
    margin:0 0 8px 0
}
div#answers {
    margin:5px 0 0 0;
    border:1px solid #C6C7CC;
    border-collapse:collapse;
    overflow:auto;
}
div#answers input#exam_question_submit {
    display: block;
    margin: 0 auto;
}
table.answers_go,
table.answers_review {
    width: 100%;
    margin: 10px 0;
    border-collapse: collapse;
    border-spacing: 0;
}
table.answers_go td,
table.answers_review td{
    padding:5px;
    border:1px solid #404040;
}
table.answers_go td.checkbox,
table.answers_review td.checkbox{
    padding:0;
    width:2em;
    text-align:center;
    vertical-align:middle;
}
table.answers_go td.checkbox input,
table.answers_review td.checkbox input{
    width:1.2em;
    height:1.2em;
    padding:0;
}
table.answers_go td.answer,
table.answers_review td.answer {
    text-align:left;
}
table.answers_review td.false {
    background-color:#770000
}
table.answers_review td.true {
    background-color:#003300
}

table.answers_review th {
    font-size: 0.8em;
    text-align:left;
    line-height:1.5em;
}

ul#score_summary {
    text-align: center;
    list-style: none outside none;
    margin: 18px 0 18px 0px;
    font-weight: bold;
}

ul#score_summary li {
    color: #7F7F7F;
    cursor: pointer;
    display: inline;
    padding: 0 10px;
}

span#score {
    font-size: 1.3em;
    color: red;
}
.incorrect{
    color:red;
}
.correct{
    color:green;
}