<% title "LSSSP | Edit Assignment" %>
<% content_for :sub_heading do %>
    <%= sub_heading('LSSSP | Assignments ',"Edit #{@assignment.name}") %>
<% end %>
<%= render 'form' %>
<div class="link_buttons">
  <%= link_to_show([:assessor, @assignment]) %>
  <%=link_to_all(assessor_assignments_path)%>
</div>
