<% title "LSSSP : Assignments" %>
<div class="formbox">
  <div class="desc"><b>Name</b> :  <%= @assignment.name %></div>
  <div class="divider"></div>
  <div class="desc"><b>Description</b> : <%= @assignment.description %> </div>
  <div class="divider"></div>
  <div class="desc"><b>Attachments</b> : <%= @assignment.attachments.size %></div>
</div>
