<h2>Home Page....</h2>
<p>
tipTip Example. <a href="" class="someClass" title="This will show up in the TipTip popup.">Curabitur dolor eros</a>, gravida et, hendrerit ac, cursus non, massa.
<span id="foo">
<img src="/images/tick.gif" class="someClass" title="A picture of the World" />
</span>
</p>