<div class="recent_items">
	<div class="margin">
		<h3>Recent Groups</h3>
        <% if @recent.blank? %>
          No Groups Added Yet...
        <% else %>
         <% for role in @recent %>
		<div id="margin">
			<div class="left">&nbsp;</div>
			<div class="right">&nbsp;</div>
			<div class="left-to-right">
				<div class="pen">&nbsp;</div>
				<div class="text">
                     <%=link_to role.name ,super_admin_role_path(role),:class=>'usuallink',:rel=>"facebox"%>
					<div style="margin: 8px 0px;">&nbsp;</div>
				</div>
				<div class="date">
                    (<b><%=role.users.size %></b>)
                </div>
			</div>
		</div>
         <% end %>
       <% end %>
		<div class="see_all">
			<a href="/super_admin/roles">
			 View all Groups
			<img hspace="2" border="0" alt="" src="/images/blue^.gif">
			</a>
		</div>
	</div>
</div>