<% title "Lsssp : Student - #{current_user.name}" %>
<% content_for :sub_heading do %>
    <%= sub_heading('Student','Registered Certifications') %>
<% end %>

<h3>Certifications you Registered </h3>

<% if @certifications_owned.blank? %>
    <div class="error_msg">Sorry No Certifications Registered yet.!</div>
<% else %>

    <table class="list" cellpadding="13" cellspacing="10px;">
      <% for certification in @certifications_owned %>
          <tr>
            <td class="logo">Logo</td>
            <td class="info">
              <strong>
                 <%=link_to certification.name ,'#',:class=>'tipTipRight',:title=> examination_info(certification) %>
              </strong>
            </td>
            <td class="links">
              <%= link_to_exam(certification)  %>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>


