<div class="recent_items">
	<div class="margin">
		<h3>Recent Sub Topics</h3>
        <% if @recent.blank? %>
          No Subtopics Added Yet...
        <% else %>
         <% for subtopic in @recent %>
		<div id="margin">
			<div class="left">&nbsp;</div>
			<div class="right">&nbsp;</div>
			<div class="left-to-right">
				<div class="pen">&nbsp;</div>
				<div class="text">
                     <%=link_to subtopic.name ,catalog_subtopic_path(subtopic),:class=>'usuallink', :rel=>"facebox"%>
					<div style="margin: 8px 0px;">&nbsp;</div>
				</div>
			</div>
		</div>
         <% end %>

       <% end %>
		<div class="see_all">
			<a href="/catalog/subtopics">
			 View all subtopics
			<img hspace="2" border="0" alt="" src="/images/blue^.gif">
			</a>
		</div>
	</div>
</div>