<% title "LSSSP | Topics : New Topic" %>
<% content_for :sub_heading do %>
  <%= sub_heading('LSSSP | Topics','Create Topic') %>
<% end %>
<%= render 'form',:heading => 'Create New Topic' %>
<div class="link_buttons">
 <%=link_to_all(catalog_topics_path)%>
</div>

