<div class="search" style="">
    <div class="margin">
        <h3>Search</h3>
        <div class="searchbox">
            <%= form_tag(controller_name, :method => 'get') do %>
             <%= hidden_field_tag :id, params[:id] %>
            <%= text_field_tag :search, params[:search], :class => "formTextBox tipTipRight",:size=>20, :title=>"Enter String to Search" %>
            <%= submit_tag 'Go', :disable_with=>'...'%>
            <%#= button_for("Go", :button_type => "submit",:class=>'btn-red') %>
            <% end %>
        </div>
    </div>
</div>
